<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>一括乗り換え検索</title>
        <link rel="icon" href="../static/favicon.ico">
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/script.js"></script>
    </head>

    <body onload="showInputForm(); showCandidates();">
        <header>
            <div id="title">一括乗り換え検索</div>
        </header>

        <main>
            <div class="input">
                <form method="POST" action="/">
                    <div id="input-form"></div>
                    <div class='button'>
                        <button type="submit" onclick="showResult();">検索</button>
                    </div>
                </form>
            </div>

            <script type="text/javascript">
                let error_msg = {{error_msg | tojson}};
                showError(error_msg);
            </script>
        </main>

        <footer>
            <div id="footer-title">一括乗り換え検索</div>
            <div id="copy-right">&copy; 2022 ryohassay</div>
        </footer>
    </body>
</html>
